html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    text-align: center;
}
.exercicio1{
    max-width: 550px;
    max-height: 500px;
    overflow: hidden;
    display: block;
    margin: auto;
    text-align: center;
    outline: 0;
}
#imagens{
    width: 100%;
    height: 100%;
    border-style: solid;
    overflow: hidden;
}
button{
    background-color: white;
    width: 350px;
    height: 70px;
    font-size: 26px;
    margin: 10px;
    cursor: pointer;
}
button:hover{
    text-decoration: underline;
}

hr{
    margin-top: 20px;
}